//exemple ajout font
/*
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaStd/FuturaStd-Book.woff") format("woff");
  font-weight: $FW-normal;
  font-style: normal;
  font-display: swap;
}
*/