* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body,
html {
    font-size: 10px;
    background-color: $C-extradark;
}

.app {
    font-size: 1.8rem;
}

h1 {
    font-family: $F-canela;
    font-weight: $FW-thin;
    font-size: 3rem;
}

h2 {
    font-family: $F-canela;
    font-weight: $FW-light;
    font-size: 23pt;
}

h3 {
    font-family: $F-bellota;
    font-weight: $FW-bold;
    font-size: 18pt;
}

p, textarea {
    font-family: $F-bellota;
    font-weight: $FW-normal;
    font-size: 1.6rem;
}

button {
    font-family: $F-bellota;
    font-weight: $FW-bold;
    font-size: 17pt;
}

q {
    font-family: $F-canela;
    font-weight: $FW-light;
    font-size: 14pt;
}

label {
    font-family: $F-bellota;
    font-weight: $FW-light;
    font-size: 13pt;
}

legend {
    font-family: $F-canela;
    font-weight: $FW-light;
    font-style: italic;
    font-size: 13pt;
}

// --------------------------------------Ajout de classe globale----------------------------------------
.boxed {
    max-width: 113rem;
    width: calc(100% - #{$G-side} * 2);
    margin-left: auto;
    margin-right: auto;

    @include phablet(){
        width: calc(100% - #{$G-side-phablet} * 2);
    }
}

.appview {
    min-height: 100%;
    background-color: $C-extradark;
    box-sizing: border-box;
    color: $C-white;
}

