// Couleurs
$C-black:  #131627;
$C-extradark: #122131;
$C-dark: #2A3745;
$C-regular: #4D5864;
$C-light: #889098;
$C-extralight: #C4C7CB;
$C-wheat: #EAE7E1;
$C-white: #FFFFFF;

// les différents fonts utilisées
$F-canela: "Canela", sans-serif;
$F-bellota: 'Bellota Text', cursive;
$F-main: $F-canela;

// Font weight
$FW-thin: 100;
$FW-light: 300;
$FW-normal: 400;
$FW-medium: 500;
$FW-semibold: 600;
$FW-bold: 700;
$FW-extrabold: 800;
$FW-black: 900;

// Goutierre
$G-side: 4rem;
$G-side-phablet: 3rem;
