rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /dream/{dreamId} {
      allow read, write, create, delete: if isSignedIn();
    }
    
    match /user/{userId} {
      allow read, write, create, delete: if request.auth.uid == userId;
    }
    
    function isSignedIn(){
      return request.auth != null;
    }
	}
}