.btn {
    background-color: $C-white;
    color: $C-extradark;
    border: none;
    outline: none;
    height: 45px;
    padding: 0 40px;
    border-radius: 30px;
    cursor: pointer;
    font-family: $F-canela;
    font-weight: $FW-light;
    font-size: 1.8rem;
}
